<!Doctype html>
<html lang="de-DE">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/styles/index.css" />
    <title>AI-Tea</title>
</head>
<body>
  <header>
    <nav>
      <a href="#">
        <img src="/images/logos/logo_white.png" alt="AI-Tea Logo" class="header-logo">
      </a>
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Sorten</a></li>
        <li><a href="#">Über uns</a></li>
      </ul>
      <button class="primary-button">Shop</button>
      <a href="#" class="instagram-logo"><img src="/images/logos/instagram-seeklogo.com.png" alt="Instagram Logo"></a>
    </nav>
  </header>

  <main>
    <section class="main-container">
      <div class="header-container">
        <div class="bottles-container">
          <img src="/images/bottles/Flaschen_Gruppe.png" alt="AI-Tea Flaschen verschiedener Sorten" >
        </div>
        <div class="logo-container">
          <img src="/images/logos/AITEA_LOGO_White_Slog_2020.png" alt="AI-Tea Logo" class="">
          <div class="logo-container__bio-logos">
            <img src="/images/logos/Logo-Vegi.png" alt="Veganes siegel der Produkte" class="">
            <img src="/images/logos/Logo-Bio.png" alt="Bio siegel der Produkte" class="">
          </div>
        </div>
      </div>
    </section>

  </main>
  <footer>

  </footer>
</body>
</html>
