<!Doctype html>
<html lang="de-DE">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/styles/index.css" />
    <title>AI-Tea</title>
</head>
<body>
  <header>
    <!-- Navigation -->
    <nav>
      <a href="#">
        <img src="/images/logos/logo_white.png" alt="AI-Tea Logo" class="header-logo">
      </a>
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Sorten</a></li>
        <li><a href="#">Über uns</a></li>
      </ul>
      <button class="primary-button">Shop</button>
      <a href="#" class="instagram-logo"><img src="/images/logos/instagram-seeklogo.com.png" alt="Instagram Logo"></a>
    </nav>
  </header>

  <main class="main-container ">
    <!-- Bottles with vegan and Bio Logo -->
    <section class="top-section">
      <div class="top-section-container">
        <div class="bottles-container">
          <img src="/images/bottles/Flaschen_Gruppe.png" alt="AI-Tea Flaschen verschiedener Sorten" class="bottles-container__bottles" >
          <img src="/images/other/Sonne.png" alt="Karrikatur eines farbigen Sonnenuntergangs" class="bottles-container__background">
        </div>
        <div class="logo-container">
          <img src="/images/logos/AITEA_LOGO_White_Slog_2020.png" alt="AI-Tea Logo" class="logo-container__logo">
          <div class="logo-container__bio-logos">
            <img src="/images/logos/Logo-Vegi.png" alt="Veganes siegel der Produkte" class="">
            <img src="/images/logos/Logo-Bio.png" alt="Bio siegel der Produkte" class="">
          </div>
        </div>
      </div>
    </section>

    <!-- Sorte Lemon -->
    <section class="sorten">
      <h2>Sorten</h2>
      <div class="sorten__container sorten__container--right">
        <div class="sorten__bottle-container sorten__bottle-container--lemon sorten__bottle-container--left">
          <img src="/images/bottles/justgreen_061021_31947_300dpi.png" alt="AI-tea Flasche mit Lemon Geschmack" class="sorten__bottle-container--bottle">
        </div>
        <div class="sorten__text-container sorten__text-container--right">
          <h3>Lemon</h3>
          <h4>a.k.a. Murdock: <br> sauer und lustig!</h4>
          <p>
            <strong>Nährwerte pro 100ml:</strong>
            <br>
            Brennwert 107 kJ | 25kcal, Zucker 5,9g (Zusatzinfo: 5,5g zugesetzter Zucker, Rest Fruchtzucker)
          </p>
          <p>
            <strong>Zutaten:</strong>
            <br>
            Kaltaufguss aus fair gehandeltem weißem Tee* (91%), Rohrohrzucker*, 3% Zitronensaft*1, natürliches Zitronenaroma * aus ökologischem Anbau 1 (klein) aus Fruchtsaftkonzentrat
          </p>
        </div>
      </div>

      <!-- Sorte White Peach -->
      <div class="sorten__container sorten__container--left">
        <div class="sorten__text-container sorten__text-container--left ">
          <h3>White Peach</h3>
          <h4>a.k.a. Face: <br> gnadenlos verführerisch!</h4>
          <p>
            <strong>Nährwerte pro 100ml:</strong>
            <br>
            Brennwert 107 kJ | 25kcal, Zucker 5,9g (Zusatzinfo: 5,5g zugesetzter Zucker, Rest Fruchtzucker)
          </p>
          <p>
            <strong>Zutaten:</strong>
            <br>
            Kaltaufguss aus fair gehandeltem weißem Tee* (91%), Rohrohrzucker*, 3% Zitronensaft*1, natürliches Zitronenaroma * aus ökologischem Anbau 1 (klein) aus Fruchtsaftkonzentrat
          </p>
        </div>
        <div class="sorten__bottle-container sorten__bottle-container--peach sorten__bottle-container--right">
          <img src="/images/bottles/justgreen_061021_31931_300dpi.png" alt="AI-tea Flasche mit Lemon Geschmack" class="sorten__bottle-container--bottle">
        </div>
      </div>

      <!-- Sorte Pomegranate -->
      <div class="sorten__container sorten__container--right">
        <div class="sorten__bottle-container sorten__bottle-container--pomegranate sorten__bottle-container--left">
          <img src="/images/bottles/justgreen_061021_31983_kl.png" alt="AI-tea Flasche mit Lemon Geschmack" class="sorten__bottle-container--bottle">
        </div>
        <div class="sorten__text-container sorten__text-container--right">
          <h3>Pomegranate</h3>
          <h4>a.k.a. B.A. Baracus: <br> granaten stark!</h4>
          <p>
            <strong>Nährwerte pro 100ml:</strong>
            <br>
            Brennwert 109 kJ | 26kcal, Zucker 5,9g (Zusatzinfo: 4,6g zugesetzter Zucker, Rest Fruchtzucker)
          </p>
          <p>
            <strong>Zutaten:</strong>
            <br>
            Kaltaufguss aus fair gehandeltem weißem Tee* (84%), Rohrohrzucker* , 8,1% Granatapfelsaft*1 (kleine 1), 1,7% Johannisbeersaft, 1,2% Zitronensaft* 1 (kleine 1), natürliches Granatapfelaroma * aus ökologischem Anbau 1 (klein) aus Fruchtsaftkonzentrat
          </p>
        </div>
      </div>

      <!-- Sorte Black Berry -->
      <div class="sorten__container sorten__container--left">
        <div class="sorten__text-container sorten__text-container--left ">
          <h3>Black Berry</h3>
          <h4>a.k.a. Hannibal: <br> kompromisslos lecker!</h4>
          <p>
            <strong>Nährwerte pro 100ml:</strong>
            <br>
            Brennwert 109 kJ | 26kcal, Zucker 5,9g (Zusatzinfo: 5,5g zugesetzter Zucker, Rest Fruchtzucker)
          </p>
          <p>
            <strong>Zutaten:</strong>
            <br>
            Kaltaufguss aus fair gehandeltem weißem Tee* (88%), Rohrohrzucker*, 3,1% Blaubeerlsaft*1 (kleine 1), 2,9% Johannisbeersaft*1 (kleine 1), natürliches Blaubeeraroma
            <br>
            * aus ökologischem Anbau 1 (klein) aus Fruchtsaftkonzentratat
          </p>
        </div>
        <div class="sorten__bottle-container sorten__bottle-container--peach sorten__bottle-container--right">
          <img src="/images/bottles/justgreen_061021_31964_300dpi.png" alt="AI-tea Flasche mit Lemon Geschmack" class="sorten__bottle-container--bottle">
        </div>
      </div>

    </section>
  </main>
  <footer>

  </footer>
</body>
</html>
