<!Doctype html>
<html lang="de-DE">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/styles/index.css" />
    <title>AI-Tea</title>
</head>
<body>
  <header>
    <img src="/images/logos/logo_white.png" alt="AI-Tea Logo" class="header-logo">
    <nav>
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Sorten</a></li>
        <li><a href="#">Über uns</a></li>
      </ul>
      <button>Shop</button>
      <a href="#"><img src="/images/logos/instagram-seeklogo.com.png" alt="Instagram Logo" class="instagram-logo"></a>
    </nav>
  </header>
  <main>

  </main>
  <footer>

  </footer>
</body>
</html>
