@font-face {
  font-family: "bebas_neue";
  src: url("/fonts/bebas_neue/BebasNeue-Regular.eot");
  src: url("/fonts/bebas_neue/BebasNeue-Regular.woff") format("woff"),
  url("/fonts/bebas_neue/BebasNeue-Regular.otf") format("opentype");
  }

@font-face {
  font-family: "gallardo";
  src: url("/fonts/Gallardo-qZYlq.otf") format("opentype");
    }

@font-face {
  font-family: "breeze_sans";
  src: url("/fonts/breeze_sans/BreezeSans-Regular_20150728.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "breeze_sans";
  src: url("/fonts/breeze_sans/BreezeSans-Bold_20150728.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  }

@font-face {
  font-family: "breeze_sans";
  src: url("/fonts/breeze_sans/BreezeSans-Light_20150728.ttf") format("truetype");
  font-weight: lighter;
  font-style: normal;
  }


