.primary-button {
  background-color: black;
  padding: 0.5rem 3rem;
  border-radius: 1.25rem;
  border: none;

  white-space: nowrap;
  cursor: pointer;

  color: white;
  text-transform: uppercase;
  font-family: 'bebas_neue';
  font-size: 1.875rem;
}
