// * {outline: 1px solid red};

header {
  background-color: white;
  color: black;
  padding-bottom: 25px;
  padding-top: 25px;

  .header-logo-mobile {
    display: none;

    @include breakpointMobile() {
      display: block;
      max-width: 25%;
      margin: 0 auto 10px auto;
    }
  }

  .nav-container {
    max-width: 1600px;
    margin:  0 15% 0 10%;
    background-color: aqua;

    @include breakpointDesktop() {
      display: flex;
      align-items: center
    }


    .header-logo {
      max-width: 180px;
      display: inline;
      margin:  0 auto;

      @include breakpointMobile() {
        display: none;
      }
    }

    nav {

      ul {
        padding: 0;
        list-style: none;

        font-family: 'bebas_neue';
        font-size: var(--step-1);

        flex-wrap: wrap;
        white-space: nowrap;
        gap: var(--space-s);

        display: flex;
        align-items: center;

        .instagram-logo {
          display: block;
          line-height: 0;

          img{
            height: calc(1.15rem + var(--step-1));
          }
        }

        @include breakpointMobile() {
          margin-left: 10%;
          margin-right: 10%;

          .home {
            display: none;
          }

          li {
            flex: 1;
            justify-self: space-around;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
          }
        }

        @include breakpointDesktop() {
          justify-content: space-around;

          .button-container {
            margin-left: auto;
          }
        }
      }
    }
  }
}
