header {
  background-color: white;
  color: black;
  padding-bottom: 25px;
  padding-top: 25px;

  nav {
    padding-left: clamp(10px, 14.3%, 228px);
    padding-right: clamp(10px, 14.3%, 228px);
    max-width: 1600px;
    margin: auto;
    display: flex;
    align-items: center;

    .header-logo {
      width: 180px;
      display: block;
    }

    .instagram-logo {
      margin: auto 0;
      line-height: 0;

      img{
        width: 55px;
      }
    }

    button {
      margin-right: 4%;
    }

    ul {
      padding: 0;
      margin: auto 10%;
      list-style: none;

      font-family: 'bebas_neue';
      font-size: var(--step-1);

      flex-wrap: nowrap;
      white-space: nowrap;
      flex-grow: 1;

      display: flex;
      justify-content: space-around;

      li {
        margin: 0 10%;
      }

    }
  }
}
