.policy-container {
  margin: 10vh 10vw;

  h1 {
    font-family: 'bebas_neue';
    text-transform: uppercase;
    font-weight: 700;
    font-size: var(--step-4);
    text-align: center;
  }

  h2 {
    font-family: 'bebas_neue';
    text-transform: uppercase;
    font-weight: 700;
    font-size: var(--step-3);
    line-height: var(--step-5);
    margin: 0;
    padding: 0;
  }

  h3 {
    font-family: 'bebas_neue';
    font-weight: 700;
    font-size: var(--step-2);
    line-height: var(--step-5);
    margin: 0;
    padding: 0;
  }

  section {
    margin-top: var(--space-2xl);
  }
}
