.sorten {
  margin-top: 300px;

  h2 {
    font-family: 'bebas_neue';
    text-transform: uppercase;
    font-weight: 700;
    font-size: var(--step-6);
    text-align: center;
  }

  &__container {
    display: flex;
  }

  &__bottle-container {
    flex: 1 1 0px;
    position: relative;

    &--bottle {
      display: block;
      margin: 0 auto;
      height: 871px;
      position: relative;
      z-index: 2;
    }

    &:before {
      content: "";
      width: 120%;
      aspect-ratio: 1;
      border-radius: 50%;
      background: #E0C958;
      mix-blend-mode: overlay;
      position: absolute;
      top: 12%;
      right: 20%;
      z-index: 1;
    }
  }

  &__text-container {
    flex: 1 1 0px;
    padding-top: 10%;

    * {
      width: 80%;
    }

    h3 {
      font-family: 'gallardo';
      font-size: var(--step-8);
      font-weight: 400;
      margin: 0 0 0 -50px;
    }

    h4 {
      font-weight: 656;
      font-size: var(--step-2);
    }

    p {
      font-size: var(--step-0);
      line-height: 150%;

      strong {
        line-height: 200%;
      }
    }
  }
}
