.sorten {

  h2 {
    font-family: 'bebas_neue';
    text-transform: uppercase;
    font-weight: 700;
    font-size: var(--step-6);
    text-align: center;
  }

  &__container {
    display: flex;
  }

  &__bottle-container {
    flex: 1 1 0px;
    position: relative;

    &--bottle {
      display: block;
      margin: 0 auto;
      height: 871px;
    }

    &--fruit {
      z-index: 3;
      position: absolute;
      width: 60%;
      top: 650px;
      left: 280px;
    }
  }

  &__text-container {
    flex: 1 1 0px;
    padding-top: 10%;

    * {
      width: 80%;
    }

    h3 {
      font-family: 'gallardo';
      font-size: var(--step-8);
      font-weight: 400;
      margin: 0 0 0 -50px;
    }

    h4 {
      font-weight: 656;
      font-size: var(--step-2);
    }

    p {
      font-size: var(--step-0);
      line-height: 150%;

      strong {
        line-height: 200%;
      }
    }
  }
}
