.team {
  margin-top: 300px;
  margin-bottom: 78px;

  &__text-container {
    width: 80%;
    margin: 0 auto;

    @include breakpointDesktop() {
      width: 42.5%;
    }

    h2 {
      font-family: 'bebas_neue';
      text-transform: uppercase;
      font-weight: 700;
      font-size: var(--step-6);
      text-align: center;
    }

    h3 {
      font-size: var(--step-2);
      font-weight: 656;
      text-transform: uppercase;
      line-height: var(--space-l);
    }

    p {
      font-size: var(--step-0);
    }
  }

  &__image-container {
    margin: 100px 10% auto 10%;
    font-size: var(--step-0);
    white-space: nowrap;

    p {
      margin: 0;
    }

    a {
      line-height: var(--space-m);
    }

    @include breakpointDesktop {
      display: flex;
      flex-grow: 1;
      margin-top: 200px;
    }

    &--martin {
      text-align: right;

      @include breakpointMobileSmall() {
        text-align: center;
      }
    }

    &--contact {
      flex: 1 1 0px;
      align-self: flex-end;

      @include breakpointMobile {
        display: none;
      }
    }

    &--contact-mobile {
      flex: 1 1 0px;
      align-self: flex-end;
      display: flex;
      gap: 5%;
      margin-bottom: 5%;

      @include breakpointMobileSmall() {
        display: block;
        text-align: center;
        div {
          margin-top: 5%;
        }
      }

      div {
        flex: 1 1 0px;
      }

      @include breakpointDesktop {
        display: none;
      }
    }

    &--image {
      flex: 1 1 0px;
      display: flex;
      justify-content: center;
    }

    img {
      padding: 1%;
      background-color: white;
      width: 80%;
    }
  }
}
